#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:ro.boot.prjname=22667
    setprop ro.boot.hardware.revision "IN"

on property:ro.boot.prjname=22668
    setprop ro.boot.hardware.revision "EU"
